body {
  margin: 0;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-size: 16px;
  background: #f3f5f7;
}

.hide-scrollbar-y::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar-y {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#input-file {
  display: none;
}

.label-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  cursor: pointer;
  width: 100%;

  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    #2196f3;

  height: 56px;

  border: 1.5px dashed #3caef4;
  box-sizing: border-box;
  border-radius: 4px;
  color: #2196f3;
}
