.main-table {
  // text-align: center;
  width: 100%;
  thead {
    background: #f4694f;
    border-radius: 8px 8px 0px 0px;
    color: #ffffff;
    font-size: 12px;
    height: 48px;
    tr {
      th {
        min-width: 50px;
      }
    }
  }

  tbody {
    background: white;
    font-size: 14px;
    tr {
      height: 69px;
    }
  }
}
